.banner {background-color: teal;
color: white;
margin-top: 50px;
text-align: center;
height: 102px;
}

#crazybread {
    height: 300px;
    width: 200px;}

#maddie {
    filter:drop-shadow(1px 1px 1px black);
    height: 100px;
    width:100px;
    display:inline-block;
    position:absolute; 
    left: 1000px;
    top: 50px; 
    }

.navbar {
    position:fixed;
    top: 0;
    width: 100%;
    background-color: white;
    }

.navbar li {
    display:inline-block;
    padding: 0px 20px;
    }

.navbar a {
     text-decoration: none;
     color: black;

    }

h1 {padding-top: 35px;}

p {
    margin: 50px; 
    padding: 50px;
    }

.arms {
    text-decoration: none;
    color: black;
    display: inline-block; }
    
h2 {
    display:inline-block;
    margin-right: 100px;
    margin-left:50px;
        }

.padthai {
    text-decoration:none;
    color:black;
    display:inline-block;
    background-image:url("../Images/pahthai.png");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    }

.mac {text-decoration:none;
color:black;
display:inline-block;
background-image:url("../Images/images.jpeg");
background-repeat: no-repeat;
background-size:cover;
background-position: center;
}

.lentilloaf {text-decoration:none;
    color:black;
    display:inline-block;
    background-image:url("../Images/lentil-loaf-square-1.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    }



